@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  background-color: #191919;
}

.results .result {
  @apply bg-white rounded-lg shadow-2xl p-6 mb-8;
}

.result__title {
  @apply text-2xl;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result__info {
  @apply flex flex-wrap;
}

.result__info-sub {
  @apply flex flex-wrap text-sm text-gray-800;
}

.result__info .info {
  @apply mr-4;
}

.result__info-sub .info {
  @apply mr-12;
}

.score {
  @apply flex items-center;
}

.score__badge {
  @apply border-2 rounded-xl h-8 w-9 leading-7 text-center font-bold;
}

.score__bar {
  @apply overflow-hidden h-2 text-xs flex rounded bg-gray-200 flex-1;
}

.score__bar-inner {
  @apply shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center;
}

.button {
  @apply bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded;
}

.button.is-pink {
  @apply bg-pink-500 hover:bg-pink-700;
}

.info__label {
  @apply font-bold;
}
